<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p><%= title %> de adivinanzas</p>
    <p><a href="quizes/question">Que comience el juego! </a></p>
  </body>
</html>
